head
  if !mobile
    link(type='text/css' rel='stylesheet' href='/public/css/index-desktop.css')
  else
    meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
    link(type='text/css' rel='stylesheet' href='/public/css/index-mobile.css')
  script(src='/public/scripts/jquery-3.3.1.min.js')
  script(src='/public/scripts/socket.io.slim.js')
  if user
    script.
      let curUser = !{JSON.stringify(user)};
  else
    script.
      let curUser = false;
  script(src="/public/scripts/index.js")
  script(src="/public/scripts/map.js")
  script(async defer src='https://maps.googleapis.com/maps/api/js?key=' + mapApiKey + '&libraries=places&callback=initMap&callback=initAutoComplete')
  
.info
  .nav
    .brandContainer
      h1.brand Happin
    .navButtons
      if user
        .newRequestBtn Make it Happin
        .profileBtn=user.username
      else
        .signupBtn Sign Up / Log in
  .mapAndRequests
    //- Map
    .mapContainer
      img#mapLoading(src="/public/assets/Procfile.svg")
      #map
    //- New Request Form 
    .requestFormContainer
      .requestFormNav
        #requestFormCloseBtn X
      h1.newRequestLabel New Hap
      .requestForm
        .requestFormInputs
          h2#requestTitleLabel Title
          input#newRequestTitle.requestInput(placeholder="New Hap")
          h2#requestBodyLabel Description
          textarea#newRequestBody.requestInput(placeholder="Let's make it happin!")
          h2#requestLocLabel Location
          input#newRequestLoc.requestInput(placeholder="Union Square, San Francisco")
          h2#requestTimeLabel Date and Time
          input#newRequestTime.requestInput(type="datetime-local")
        #newRequestSubmit Submit    
    //- Sign Up Form
    .signupContainer
      .signupNav
        #signupCloseBtn X
      h1.signupLabel Sign Up / Login
      .signupForm
        .signupInputs
          h2#signupUsernameLabel Username
          input#signupUsername.requestInput(placeholder="Username")
          h2#signupPasswordLabel Password
          input#signupPassword.requestInput(placeholder="Password" type="password")
      .signupSubmitBtns
        #signupSubmitBtn Sign Up
        #loginSubmitBtn Log In
    //- Hap Info Screen
    .hapScreenContainer
      .hapScreenNav
        #hapScreenCloseBtn X
      h1.mainHapTitle Party at Union Square
      .mainHapInfo
        p.mainHapOrganizer James
        .mainHapAttendeeContainer
          img#mainHapAttendeeCountIcon(src='/public/assets/user.svg')
          p.mainHapAttendeeCount 27
      .mainHapDescriptionContainer
        p.mainHapDescription Come and join us at Union Square for a super fun party! Bring a costume!
      .mainHapSettingContainer
        .whenSettingDivide
          p.mainHapSettingLabel WHEN
          p.mainHapDate 4/20/2018 5:30pm
        .whereSettingDivide
          p.mainHapSettingLabel WHERE
          p.mainHapAddress Union Square, San Francisco, CA 
      #mainHapJoinBtn Join Hap
      #mainHapLeaveBtn Leave Hap
      #mainHapId(hidden)
      
    
.content
  h1.nearRequestslabel What's Happining
    .requestsPlaceholder
  .requestsContainer
    .request-prototype
      .requestBasicInfo
        #requestTitle Help me learn biology please!
        .requestBasicInfoSep
          #requestOwner Bobby
          #requestLoc 1547 Mission St
        #hapId(hidden)
      #joinHapBtn
        #joinHapBtnLabel Join
        .joinHapBtnInfo
          img#hapAttendeeCountIcon(src='/public/assets/user.svg')
          p#hapAttendeeCount
    
