body{
  background-color: #fafff9;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #4AB169;
    opacity: 0.5; /* Firefox */
}

/*.dashNav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}*/

input {
  color : #4ab169;
}

nav .brand-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  width : 300px;
  margin-left: 30px;
  cursor : pointer;
}

.lightning{
  align-items: flex-start;
  display: inline;
  width : 30px;
  height : 30px;
  margin-left: 3px;
  /*margin-top: -20px;*/
}

.navBtns{
  display: flex;
  flex-direction: row;
  margin-top : -54px;
}

li.hapDetailsBtn.navBtn{
  display: none
}

.mapContainer{
  display: none;
}

#map{
  margin-top : 3px;
  width : 100%;
  height : 90%;
}

#mapLoading{
  margin-top : 3px;
  width : 100%;
  height : 90%;
}


.primary{
  background-color: #4AB169;
}

.primary-btn{
  background-color: #4AB169;
}
.primary-btn:hover{
  background-color: #5ac47a;
}

.primary-text{
  color : #4AB169;
}

.primary-text-dark{
  color : #32874b;
}

.secondary-btn{
  background-color: #fed74c;
  color : black;
  font-weight: bold;
}
.secondary-btn:hover{
  background-color: #ffe27c
}

.nav-right{
  margin-right: 45px;
}

.navBtn{
  padding : 0px 5px;
  cursor : pointer;
  font-size: 18px;
  display: inline;
  overflow-x: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.navBtn:hover{
  background-color: #3a9956;
}


.hapNav{
  margin-top: 3px;
  margin-bottom: 5px;
}

.hapNavBtn{
  font-weight: bold;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.hapNavBtn:hover{
  background-color: #d1ffdf
}

.joinLeaveSetBtn{
  font-weight: bold;
  border-right: 1px solid #ccc;
  cursor : pointer;
  border-bottom: 1px solid #ccc;
}

.joinLeaveSetBtn:hover{
  background-color: #d1ffdf;
}

.hapNavBtn:last-child{
  border-right: 0px solid #ccc;
}

.activeHapNavBtn{
  border-bottom: 0px solid #ccc;
}

.navTitleContainer{
  width : 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hapTitle{
  font-size: 25px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-self: center;
  text-align: center;
  float: none;
}

.hapAttendeeContainer{
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#attendeeCountIcon{
  color : #4ab169;
  font-size: 35px;
}

.hapAttendeeCount{
  font-size: 25px;
}



.detailsContainer{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hapScreenNav{
  margin-top: 10px;
  width : 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hapInfo{
  width : 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 10px;
  font-size: 18px;
}

.hapOrganizer{
  /*font-size: 25px;*/
}

.hapDescription{
  padding : 5px 5px;
  /*font-size: 25px;*/
}

.hapSettingContainer{
  width : 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.settingDivide{
  width: 100%;
  display: flex;
  flex-direction: column;
  /*border : 2px solid #4ab169;
  border-radius : 20px;*/
  align-items: center;
  text-align: center;
  height : 100px;
  margin-left: 2px;
  margin-right: 2px;
}

.hapSettingLabel{
  margin-top: 5px;
  font-weight: bold;
  margin-bottom: 10px;
}

#hapJoinBtn{
  display: none;
}

#hapLeaveBtn{
  display: none;
}

#hapSettingsBtn{
  display: none;
}


/*Person Container*/

.personContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.peopleLabelContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.peopleLabel{
  font-size: 35px;
}

.person{
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 5px 5px;
}

.personPic{
  border-radius: 100%;
  width : 50px;
  height : 50px;
  border : 2px solid #4ab179;
  margin-right: 10px;
}

.personInfo{
  display: flex;
  flex-direction: row;
}

.personDetails{
  display: flex;
  flex-direction: column;
}

.personName{
  font-weight: bold;
}

#chatBtnLabel{
}

#chatIcon{
  font-size: 20px;
  margin-bottom: -30px;
  margin-top: -10px;
}
