@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    local('Roboto'),
    local('Roboto-Regular'),
    url('./public/fonts/Roboto-Regular.ttf') format('ttf'),
}

body{
  background-color: #fafff9;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #4AB169;
    opacity: 0.5; /* Firefox */
}

input {
  color : #4ab169;
}


.brand-logo{
  margin-left: 30px;
}


#map{
  margin-top : 3px;
  width : 100%;
  height : 90%;
}

#mapLoading{
  margin-top : 3px;
  width : 100%;
  height : 90%;
}

.content{
  overflow-y: scroll;
  height: 90%;
}

.hapsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hap{
  width : 100%;
  border : 0.5px solid #ddd;
  border-radius: 4px;
  padding: 5px 10px 5px 0px;
  margin-bottom: 10px;
  background-color: white;
}

#hapTitle{
  font-weight: bold;
}

.primary{
  background-color: #4AB169;
}

.primary-btn{
  background-color: #4AB169;
}
.primary-btn:hover{
  background-color: #5ac47a;
}

.primary-text{
  color : #4AB169;
}

.primary-text-dark{
  color : #32874b;
}

.nav-right{
  margin-right: 45px;
}

.navBtn{
  padding : 0px 5px;
  cursor : pointer;
  font-size: 18px;
  display: inline;
  overflow-x: hidden;
  white-space: nowrap;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navBtn:hover{
  background-color: #3a9956;
}

.newHapBtn{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#newHapIcon{
  width : 16px;
  height : 16px;
  display: inline-block;
  margin-right: 5px;
}

.hap-prototype{
  display: none;
}

#hapAttendeeCountIcon{
  width : 20px;
  display: inline-block;
}

#hapAttendeeCount{
  display: inline-block;
}

.mapForms{
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  flex-direction: row;
  z-index: 5;
  justify-content: center;
}

.hapInput{
  padding-left: 10px;
}

.signupContainer{
  width : 80%;
  height : 80%;
  opacity: 0;
  margin-top: 20px;
  background-color: rgba(250, 255, 249, 0.8);
  flex-direction: column;
  display: none;
  justify-content: center;
  align-items: center;
}

.signupLabel{
  margin-top: -20px;
}

.signupForm{
  width : 60%;
}

.signupSubmitBtns{
  margin-top: 50px;
}

#signupSubmitBtn{
  display: none;
}

#loginSubmitBtn{
  display: none;
}


.hapFormContainer{
  width : 80%;
  opacity: 1;
  /*margin-top: 20px;*/
  background-color: rgba(250, 255, 249, 0.9);
  flex-direction: column;
  display: none;
  align-items: center;
  /*justify-content: center;*/
}

.hapFormNav{
  align-self: flex-end;
  margin-bottom: -80px;
}

#hapFormCloseBtn{
  /*border : 2px solid black;*/
  font-size: 50px;
  padding: 10px;
  cursor : pointer;
  margin-right: 5px;
  margin-top: 5px;
}

.newHapFormLabel{
  font-size: 50px;
  text-align: center;
  width : 48%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  /*margin-bottom: 0px;*/
}

.hapFormInput{
  margin-bottom: 25px;
}

.hapForm{
  width : 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label{
  font-size: 18px;
}

#newHapTitle{
  font-size: 18px;
}

#newHapLoc::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    opacity: 0;
}

.datepicker-date-display{
  background-color: #4AB169;
}

.timepicker-digital-display{
  background-color: #4AB169;
}

#newHapSubmit{
  margin-top: 30px;
  display: block;
}
