@font-face {
  font-family: 'uptown';
  src: url('./fonts/uptown.ttf')
}

@font-face {
  font-family: 'uptown-regular';
  src: url('./fonts/uptown-regular.ttf')
}

@font-face {
  font-family: 'knife';
  src: url('./fonts/Knife Princess.ttf')
}

body{
  background-color: #fafff9;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #4AB169;
    opacity: 0.5; /* Firefox */
}

input {
  color : #4ab169;
}


nav .brand-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  width : 300px;
  margin-left: 30px;
  cursor : pointer;
}

.lightning{
  align-items: flex-start;
  display: inline;
  width : 30px;
  height : 30px;
  margin-left: 3px;
  /*margin-top: -20px;*/
  cursor: pointer;
}


#map{
  margin-left: -8px;
  margin-top : 3px;
  width : 101%;
  height : 90%;
}

#mapLoading{
  margin-top : 3px;
  width : 100%;
  height : 90%;
}

.content{
  overflow-y: scroll;
  height: 90%;
  margin-top : 10px;
}

.hapsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hap{
  width : 100%;
  border : 0.5px solid #ddd;
  border-radius: 4px;
  padding: 5px 10px 5px 0px;
  margin-bottom: 10px;
  background-color: white;
}

#hapTitle{
  font-weight: bold;
}

.hapBasicInfo{
  cursor : pointer
}

.hap:hover{
  background-color: #edfff2;
}

.hapOwnerAndAttending{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -15px;
  margin-bottom: -15px;
}

.hapAttendingInfo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hapSetting{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#findHapBtn{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.findHapBtnInfo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#findHapBtnLabel{
  margin-bottom: -20px;
  margin-top: -10px;
}

#findHapIcon{
  font-size: 20px;
}

#hapAttendeeCountIcon{
  color: #4ab169;
  font-size: 23px;
  display: inline-block;
}

#hapAttendeeCount{
  display: inline-block;
}

.primary{
  background-color: #4AB169;
}

.primary-btn{
  background-color: #4AB169;
}
.primary-btn:hover{
  background-color: #5ac47a;
}

.primary-text{
  color : #4AB169;
}

.primary-text-dark{
  color : #32874b;
}

.nav-right{
  margin-right: 45px;
}

.navBtn{
  padding : 0px 5px;
  cursor : pointer;
  font-size: 18px;
  display: inline;
  overflow-x: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.navBtn:hover{
  background-color: #3a9956;
}

.newHapBtn{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#newHapIcon{
  width : 16px;
  height : 16px;
  display: inline-block;
  margin-right: 5px;
}

.hap-prototype{
  display: none;
}

.mapForms{
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  flex-direction: row;
  z-index: 5;
  justify-content: center;
}

.hapInput{
  padding-left: 10px;
}

.signupContainer{
  width : 80%;
  height : 80%;
  opacity: 0;
  margin-top: 20px;
  background-color: rgba(250, 255, 249, 0.8);
  flex-direction: column;
  display: none;
  justify-content: center;
  align-items: center;
}

.signupLabel{
  margin-top: -20px;
}

.signupForm{
  width : 60%;
}

.signupSubmitBtns{
  margin-top: 50px;
}

#signupSubmitBtn{
  display: none;
}

#loginSubmitBtn{
  display: none;
}


.hapFormContainer{
  width : 80%;
  opacity: 0;
  /*margin-top: 20px;*/
  background-color: rgba(250, 255, 249, 0.9);
  flex-direction: column;
  display: none;
  align-items: center;
  /*justify-content: center;*/
}

.hapFormNav{
  align-self: flex-end;
  margin-bottom: -80px;
}

#hapFormCloseBtn{
  /*border : 2px solid black;*/
  font-size: 50px;
  padding: 10px;
  cursor : pointer;
  margin-right: 5px;
  margin-top: 5px;
}

.newHapFormLabel{
  font-size: 50px;
  text-align: center;
  width : 48%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  /*margin-bottom: 0px;*/
}

.hapFormInput{
  margin-bottom: 25px;
}

.hapForm{
  width : 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label{
  font-size: 18px;
}

#newHapTitle{
  font-size: 18px;
}

#newHapLoc::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    opacity: 0;
}

.datepicker-date-display{
  background-color: #4AB169;
}

.timepicker-digital-display{
  background-color: #4AB169;
}

#newHapSubmit{
  margin-top: 30px;
  display: block;
}
